@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
    --pink: hsl(322, 100%, 66%);
    --pale-cyan: hsl(193, 100%, 96%);
    --dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --bod-font-size: 18px;
    --bodcall-font-family: 'Open Sans', sans-serif;
    --head-font-family: 'Poppins', sans-serif;
    --call-font-weight: 700;
    --head-font-weight: 600;
    --div-pad: 3%;
}

body {
    font-family: var(--bodcall-font-family);
    font-weight: 400;
    font-size: var(--bod-font-size);
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
    opacity: 0.5;
}


.cyan-bg {
    background-color: var(--pale-cyan);
    background-image: url('images/bg-hero-desktop.svg');
    padding: 2%;
}

.white-bg {
    margin: 7% 5%;
    display: grid;
    row-gap: 2%;
    margin-bottom: 25%;
}

.white-bg p {
    color: var(--grayish-blue);
}

h2 {
    color: var(--dark-cyan);
    font-family: var(--head-font-family);
    font-weight: var(--head-font-weight);
}

.dark-cyan-bg {
    background-color: var(--dark-cyan);
    color: white;
    padding: 10% 5% 5% 5%;
    font-size: small;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
}

.nav-flex img {
    width: 40%;
    height: 50%;
}

.nav-btn {
    border: none;
    border-radius: 50px;
    width: 30%;
    height: 50%;
    padding: 10px;
    background-color: white;
    font-family: var(--bodcall-font-family);
    font-weight: var(--call-font-weight);
    box-shadow: 0 5px 5px grey;
}

.flex-container {
    display: flex;
    flex: 1fr 1fr;    
}

.first-h2 {
    padding-right: 55%;
}

.first-p {
    padding-bottom: 2%;
    padding-right: 30%;
}

.hero {
    width: 100%;
    animation-name: slide;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.build {
    padding-top: 3%;
}

.pink-btn {
    border: none;
    border-radius: 50px;
    width: 35%;
    height: 39px;
    padding: 10px;
    color: white;
    background-color: var(--pink);
    font-family: var(--bodcall-font-family);
    font-weight: var(--call-font-weight);
}

.characters {
    align-self: center;
}

.padded {
    padding: var(--div-pad);
    padding-bottom: 5%;
}

.left-pad {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding-left: 5%;
}

.parent {
    position: relative;
}

.center-flex {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: var(--div-pad);
    background-color: white;
    position: absolute;
    top: -25%;
    left: 20%;
    right: 20%;
}

.center-flex h2 {
    font-weight: var(--call-font-weight);
}

.white-hd {
    padding-bottom: 2%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.grid-flex {
    display: flex;

}

.grid-flex img {
    padding-top: 5%;
    height: 25%;
    padding-right: 4%;
}

.col1 img {
    padding-right: 5%;
}

.col ul li {
    list-style: none;
    padding-bottom: 5%;
}

.col ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.col4 {
    padding-top: 5%;

}

.col4 img {
    width: 20px;
    border-radius: 20px;
    padding-right: 2%;
}

.col4 img:hover {
    cursor: pointer;
}

.end {
    text-align: end;
}

@keyframes slide {
    from {
        margin-top: 100%;
    }

    to {
        margin-top: 0%;
    }
}


@media  screen and (max-width: 375px) {
    .cyan-bg {
        background-color: var(--pale-cyan);
        background-image: url('images/bg-hero-mobile.svg');
        padding: 2%;
    }
    
    .white-bg {
        margin: 7% 5%;
        display: grid;
        row-gap: 2%;
        margin-bottom: 80%;
    }

    .dark-cyan-bg {
        background-color: var(--dark-cyan);
        color: white;
        padding: 50% 5% 5% 5%;
        font-size: small;
    }
 
    .nav-flex {
        display: flex;
        justify-content: space-between;
        padding-top: 3%;
        padding-bottom: 3%;
        width: 100%;
    }

    .nav-flex img {
        width: 40%;
        height: 50%;
    }
    
    .nav-btn {
        border: none;
        border-radius: 50px;
        width: 30%;
        height: 50%;
        padding: 5px 10px;
        white-space: nowrap;
        background-color: white;
        font-family: var(--bodcall-font-family);
        font-weight: var(--call-font-weight);
        box-shadow: 0 5px 5px grey;
    }
    
    .flex-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex: 1fr 1fr;
    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .build {
        padding: 20% 0 20% 0;
    }
    
    .first-h2 {
        padding: 0 0 ;
    }
    
    .first-p {
        padding: 0;
    }
    
    .pink-btn {
        border: none;
        border-radius: 50px;
        width: fit-content;
        height: fit-content;
        white-space: nowrap;
        padding: 5%;
        color: white;
        background-color: var(--pink);
        font-family: var(--bodcall-font-family);
        font-weight: var(--call-font-weight);
    }

    .center-flex {
        top: -15%;
        left: 20%;
        right: 20%;
    }
    
    .white-hd {
        padding-bottom: 2%;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .col1 {
        padding-bottom: 10%;
    }
    
    .col1 img {
        padding-right: 5%;
    }

    .col {
        display: grid;
    }

    .col ul {
        padding-left: 0;
    }
    
    .col a {
        list-style: none;
        padding-bottom: 0;
    }
    
    .col a:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    
    .col4 {
        padding-top: 5%;
        text-align: center;
    }
    
    .col4 img {
        width: 20px;
        border-radius: 20px;
        padding-right: 2%;
    }
    
    .col4 img:hover {
        cursor: pointer;
    }
    
    .end {
        text-align: center;
        white-space: nowrap;
    }
}